h3, h6 {
    color: rgb(255, 115, 0);
}

body { 
    background: url(../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(215, 215, 215);
}

.div-css {
    margin-bottom: 10px;
    background-color: rgba(238, 228, 90, 0.281)
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}